/* Расчет стоимости */
.nav {
    border-bottom: 1px solid #3b3b3c;
}
.catalog {
    padding: 50px 15px 20px 15px;
}
.h1-ask-question-btn {
    align-items: baseline;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
    flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    justify-content: space-between;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
}
.h1-ask-question-btn .ask-question-btn {
    margin: 0;
}
.answeres-content h1 {
    font: 36px Opensans, sans-serif;
    font-weight: 600;
    color: #f58132;
    padding-bottom: 30px;
    border-bottom: 1px solid #3b3b3c;
}
.answeres-content-items {
    padding: 10px 0;
    margin-bottom: 10px;
    border-top: 1px solid #3b3b3c;
}
.answeres-content-items h4 {
    margin-top: 10px;
    padding: 10px; 
    font: 14px Opensans, sans-serif;
    font-weight: 600;
    color: #f58132;
    border: 1px solid #f58132;
}
.ask-question h4 {
    margin-top: 10px;
    padding: 10px; 
    font: 18px Opensans, sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
    border-top: 1px solid #3b3b3c;
}
.answeres-content-items p {
    margin-top: 10px;
    font: 13px/20px Opensans, sans-serif;
    font-weight: 400;
    color: #d4d4d4;
}
.answeres-content-img {
    padding: 20px 0 20px 0;
}
.answeres-content-img img {
    max-width: 500px;
}
.ask-question-btn {
    display: block;
    width: 250px;
    height: 25px;
    padding-top: 2px;
    margin: 10px auto 20px auto;
    color: white !important;
    text-align: center;
    border: none;
    border-radius: 20px;
    background-color: #f58132;
      -webkit-transition: all .3s linear;
    transition: all .3s linear;  
    cursor: pointer;
}
.ask-question-btn:hover {
    border: 1px solid #5a5a5b;
    background: none;
      -webkit-transition: all .3s linear;
    transition: all .3s linear;  
}
.readmore-js-section { 
    display: block; 
    width: 100%; 
    overflow: hidden;
} 
.footer {
    border-top: 1px solid #5a5a5b;
}

@media (max-width: 900px) {
    /* Каталог */
    .catalog {
        padding: 50px 20px 0 20px;
    }
}

@media (max-width: 850px) {
    /* Каталог */  
    .answeres-content img {
        max-width: 300px;
    }
}

@media (max-width: 750px) { 
    .h1-ask-question-btn .ask-question-btn {
        margin: 20px auto 20px auto;
    } 
    .answeres-content h1 {
        text-align: center;
        width: 100%;
        font: 24px Opensans, sans-serif;
        padding-bottom: 10px;        
    }
    .h1-ask-question-btn {
        flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
    }
}

@media (max-width: 544px) { 
    .answeres-content img {
        max-width: 200px;
    }
    .ask-question h4 {
        font: 14px Opensans, sans-serif;
    }
    
}