/* Расчет стоимости */
.nav {
    border-bottom: 1px solid #3b3b3c;
}
.catalog {
    padding: 50px 15px 20px 15px;
}
.video-advises-page-content h1 {
    margin: 0;
    padding: 0;
    font: 36px Opensans, sans-serif;
    font-weight: 600;
    color: #f58132;
    margin-bottom: 30px;
    text-align: center;
}
.video-advises-page-content p {
    margin-bottom: 10px;
    font: 13px/20px Opensans, sans-serif;
    font-weight: 400;
    color: #d4d4d4;
}
.video-advises-page-content-img {
    text-align: center;
    padding: 20px;
}
.video-advises-page-content-img video {
    max-width: 500px;
}
.footer {
    border-top: 1px solid #5a5a5b;
}

@media (max-width: 900px) {
    /* Каталог */
    .catalog {
        padding: 50px 20px 0 20px;
    }
}

@media (max-width: 850px) {
    /* Каталог */  
    .video-advises-page-content-img video {
        max-width: 300px;
    }
}

@media (max-width: 750px) {
    /* Каталог */  
    .video-advises-page-content h1 {
        font: 24px Opensans, sans-serif;
    }
}

@media (max-width: 544px) {   
    /* Каталог */
    .catalog {
        flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
        padding: 20px;
    } 
    .video-advises-page-content h1 {
        text-align: center;
    }    
    .video-advises-page-content-img video {
        max-width: 200px;
    }
}