/* Расчет стоимости */
.nav {
    border-bottom: 1px solid #3b3b3c;
}
.catalog {
    padding: 50px 15px 20px 15px;
}
.application-content h1 {
    font: 36px Opensans, sans-serif;
    font-weight: 600;
    color: #f58132;
    margin-bottom: 30px;
}
.application-content p {
    margin-bottom: 10px;
    font: 13px/20px Opensans, sans-serif;
    font-weight: 400;
    color: #d4d4d4;
}
.application-content-items {
    margin-bottom: 30px;
}
.application-content-items-img {
    margin-right: 20px;
    padding-top: 5px;
}
.application-content-items-img img {
    max-width: 200px;
    height: auto;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid transparent;
      -webkit-transition: all .3s linear;
    transition: all .3s linear;  
}
.application-content-items-img img:hover {
    border: 1px solid #f58132;
      -webkit-transition: all .3s linear;
    transition: all .3s linear;  
}
.footer {
    border-top: 1px solid #5a5a5b;
}

@media (max-width: 900px) {
    /* Каталог */
    .catalog {
        padding: 50px 20px 0 20px;
    }
}

@media (max-width: 768px) {   
    .application-content h1  {
        text-align: center;
    }
    .application-content-items {
        flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
    }
    .application-content-items-img {
        text-align: center;
        margin-right: 0;
    }
    .application-content-items p {
        margin-top: 20px;
    }
}

@media (max-width: 750px) {
    .application-content h1 {
        font: 24px Opensans, sans-serif;
    }
}

@media (max-width: 544px) {   
    .application-content img {
        max-width: 200px;
    }
}

@media (max-width: 320px) { 
    .application-content-items {
        flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
        align-items: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
    }    
    .application-content-items-img {
        padding-top: 0;
        padding-bottom: 20px;
    }   
    .application-content img {
        max-width: 200px;
    }
}